<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Productos</mat-card-title>
        <mat-card-subtitle>Control de Stock</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="form-wrap mt-2" (ngSubmit)="getByProducto_Change()">
            <mat-form-field class="filter">
                <mat-label>Buscar Producto por código </mat-label>
                <input matInput (inputChange)="getByProducto_Change()" type="text" [formControl]="codigoFormControl">
                <mat-hint></mat-hint>
            </mat-form-field>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" type="submit">Buscar</button>
            </mat-card-actions>
        </form>
        <section class="mag-section" align="end">
            <mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
                <mat-radio-button *ngFor="let op of TipoBusqueda" name="opciones" [value]="op" style="margin: 10px">
                    {{op}}
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <div class="example-spacer"></div>
        <section class="mag-section" align="end">

            <mat-checkbox class="example-margin" [(ngModel)]="incluirVariantes" [disabled]="this.cargando">Incluir variantes</mat-checkbox>
        </section>


    </mat-card-content>


</mat-card>

<br>



<div class="mat-elevation-z8">


    <div class="table-wrap">
        <div *ngIf="cargando" class="spinner-wrap">
            <mat-spinner [diameter]="80"></mat-spinner>
        </div>
        <div *ngIf="dataSource.length === 0 && !cargando && !this.errorEnServicios">
            <h1 class="text-center">
                No se encontraron productos con los filtros establecidos
            </h1>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows [ngClass]="this.cargando ? 'min-height' : ''">
            <ng-container matColumnDef="codigo">
                <th class="producto-column small-colunm" mat-header-cell *matHeaderCellDef>
                    Codigo
                </th>
                <td class="producto-column small-colunm" mat-cell *matCellDef="let element">
                    {{ element.Codigo }}
                </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th class="producto-column large-colunm" mat-header-cell *matHeaderCellDef>
                    Descripción
                </th>
                <td class="producto-column large-colunm" mat-cell *matCellDef="let element">
                    {{ element.Detalle }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ubicacion">
                <th class="producto-column large-colunm" mat-header-cell *matHeaderCellDef>
                    Ubicación
                </th>
                <td class="producto-column large-colunm" mat-cell *matCellDef="let element">
                    {{ element.Ubicacion }}
                </td>
            </ng-container>

            <ng-container matColumnDef="stockActual">
                <th class="producto-column small-colunm text-right" mat-header-cell *matHeaderCellDef>
                    Stock Actual
                </th>
                <td class="producto-column small-colunm text-right" mat-cell *matCellDef="let element">
                    {{ element.StockActual | currency:'es-AR':'' }}
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        </table>
    </div>
    <div class="footer">
        <h3 *ngIf="dataSource.length">Total Productos {{ totalRows }}</h3>
        <mat-paginator #paginator [length]="totalRows" [pageIndex]="page - 1" [pageSizeOptions]="[5, 10, 50, 100]" (page)="pagesChange($event)" [pageSize]="pageSize" aria-label="Select page">
        </mat-paginator>
    </div>


</div>
