<div class="modal-container">
  <h2 mat-dialog-title>
    MOVIMIENTOS
    <br />
  </h2>

  <div class="description">
    <h2>{{ this.descripcionProducto }}</h2>
  </div>

  <div mat-dialog-content class="dialog-content">
    <form class="form-wrap" (ngSubmit)="buscarMovimiento()">
      <mat-form-field appearance="fill">
        <mat-label>Fecha desde</mat-label>
        <input matInput [matDatepicker]="desde" [formControl]="fechaDesde" />
        <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
        <mat-datepicker #desde></mat-datepicker>
        <div
          class="clear-option"
          clear-option
          mat-button
          *ngIf="fechaDesde.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="fechaDesde.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha hasta</mat-label>
        <input matInput [matDatepicker]="hasta" [formControl]="fechaHasta" />
        <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
        <mat-datepicker #hasta></mat-datepicker>
        <div
          class="clear-option"
          clear-option
          mat-button
          *ngIf="fechaHasta.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="fechaHasta.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Deposito</mat-label>
        <mat-select [(ngModel)]="depositoSelected" name="deposito">
          <mat-option
            *ngFor="let deposito of depositos"
            [value]="deposito.Numero"
          >
            {{ deposito.Detalle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="this.variantes.length > 0" appearance="fill">
        <mat-label>Variante</mat-label>
        <mat-select [(ngModel)]="varianteSelected" name="variante">
          <mat-option
            *ngFor="let variante of variantes"
            [value]="variante.IdVariante"
          >
            {{ variante.DetalleVariante }} {{ variante.CodigoVariante }}
            {{ variante.DescripcionColor }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary">
        <span>Buscar</span>
      </button>
    </form>

    <div class="mt-2 table-wrap">
      <table mat-table [dataSource]="movimientos" class="mat-elevation-z8">
        <ng-container matColumnDef="fecha">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Fecha</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.Fecha | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Tipo</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.Tipo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <th class="text-right" mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td class="text-right" mat-cell *matCellDef="let element">
            {{ element.Cantidad |  currency:'es-AR':''  }}
          </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Detalle</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.Detalle }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actual">
          <th class="text-right" mat-header-cell *matHeaderCellDef>Actual</th>
          <td class="text-right" mat-cell *matCellDef="let element">
            {{ element.Actual |  currency:'es-AR':''  }}
          </td>
        </ng-container>


        <ng-container matColumnDef="nombre">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Nombre</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.Nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Usuario</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.Usuario }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deposito">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            Deposito
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.Deposito }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vencimiento">
          <th class="text-center" mat-header-cell *matHeaderCellDef>
            Vencimiento
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.Vencimiento }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="footer mt-3">
      <div class="data-wrap">
        <div class="data-1">
          <div class="wrap">
            <span class="mt-1">Stock Comprometido:</span>
            <span class="mt-1"> {{ stockComprometido }}</span>
          </div>
          <div class="mt-1">
            <button
              (click)="imprimir()"
              class="width-100"
              mat-raised-button
              color="primary"
            >
              <span>Imprimir</span>
            </button>
          </div>
        </div>

        <div class="data-2">
          <div class="wrap">
            <span>Stock Inicial:</span>
            <span>{{ stockInicial |  currency:'es-AR':''  }}</span>
          </div>
          <div class="wrap">
            <span class="mt-1">Total de Compras:</span>
            <span class="mt-1"> {{ totalCompras |  currency:'es-AR':'$'   }}</span>
          </div>

          <div class="wrap">
            <span class="mt-1">Total de Ventas:</span>
            <span class="mt-1">{{ totalVentas |  currency:'es-AR':'$'  }}</span>
          </div>
          <div class="wrap">
            <span class="mt-1">Total de Ajustes:</span>
            <span class="mt-1">{{ totalAjustes |  currency:'es-AR':''  }}</span>
          </div>
          <div class="wrap">
            <span class="mt-1">Stock Actual:</span>
            <span class="mt-1"> {{ stockActual |  currency:'es-AR':''  }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="mt-2 dialog-actions">
    <button mat-button mat-dialog-close>Salir</button>
  </div>
</div>

<app-global-spinner></app-global-spinner>
