<mat-card class="magnum-card">
    <mat-card-header>
        <mat-card-title>Productos
            <button mat-icon-button class="magnum-more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
            </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>Control de Stock</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <section class="mag-section" align="end">
            <mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
                <mat-radio-button *ngFor="let op of TipoBusqueda" name="opciones" [value]="op" style="margin: 10px">
                    {{op}}
                </mat-radio-button>
            </mat-radio-group>
        </section>

        <!-- <section class="mag-section" align="end">
            <mat-checkbox class="example-margin" [(ngModel)]="incluirVariantes" [disabled]="this.cargando">Incluir variantes</mat-checkbox>
        </section> -->

        <form class="form-wrap" (ngSubmit)="getByProducto_Change()">
            <mat-form-field class="filter" focused="true">
                <mat-label>Buscar Producto por código </mat-label>
                <input matInput (inputChange)="getByProducto_Change()" type="text" [formControl]="codigoFormControl">
                <mat-hint>No buscar por descripción</mat-hint>
            </mat-form-field>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" matTooltip="Buscar productos " matTooltipClass="magnum-tooltip-primary" type="submit">Buscar <mat-icon>search</mat-icon> </button>
            </mat-card-actions>
        </form>


    </mat-card-content>


</mat-card>
<br>

<mat-card class="magnum-card">
    <mat-card-header>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle> registros encontrados</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>



    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
