<div class="ventas-container">
  <div class="ventas-header">
    <div class="ventas-header-left">
      <div class="cliente-wrap">
        <!-- map cliente and city from clienteCuentaResponse -->
        <app-magnum-input
          [inputFormControl]="clientFormControl"
          placeHolder="Cliente"
        ></app-magnum-input>
        <app-magnum-button
          text="Buscar"
          class="cliente-buscar-button"
          (btnClickEmt)="buscarCliente_Click($event)"
        ></app-magnum-button>
      </div>
      <app-magnum-button
        text="C.F"
        class="cf-wrap"
        (btnClickEmt)="resetCliente_Click()"
      ></app-magnum-button>
      <div class="tipo-factura-wrap">
        <span>{{ this.clienteCuenta.Boleta }}</span>
      </div>
      <app-magnum-select
        text="Comprobante"
        [itemSelected]="8"
        [options]="this.tipoComprobantesSelect"
      ></app-magnum-select>

      <div class="ciudad-wrap">
        <h2 class="ciudad">Ciudad:</h2>
        <h2 class="descripcion-ciudad">
          {{ this.clienteCuenta.Ciudad }}, {{ this.clienteCuenta.Provincia }}
        </h2>
      </div>
      <app-magnum-select
        *ngIf="this.buscarPorDetalle"
        class="descripcion-select"
        text="Descripcion"
        [options]="this.descripcionesSelect"
        [itemSelected]="this.descripcionSelected"
        (selectOpen)="this.getProductosVentas()"
        (filterChange)="this.getProductosVentas($event)"
        (selectChange)="this.productosChange($event)"
        [showSearchBar]="true"
      ></app-magnum-select>
      <mat-form-field
        *ngIf="!this.buscarPorDetalle"
        appearance="outline"
        style="width: 100%"
        class="cantidad"
      >
        <mat-label>cantidad</mat-label>
        <input matInput type="number" onfocus="this.value=''" [formControl]="cantidadFormControl" #cantidad />
        <div
          class="clear-option"
          clear-option
          mat-button
          *ngIf="cantidadFormControl.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"          
          (click)="cantidadFormControl.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </div>
      </mat-form-field>

      <app-magnum-input
        *ngIf="!this.buscarPorDetalle"
        [inputFormControl]="codigoFormControl"
        placeHolder="Codigo"
        class="detalle-codigo"
        (keyupEnter)="this.addProducto()"
      ></app-magnum-input>
      <app-magnum-button
        text=">"
        class="add-producto"
        (btnClickEmt)="this.addProducto()"
      ></app-magnum-button>
      <div class="additional-options-wrap">
        <app-magnum-button
          text="Detalle/Codigo"
          class="detalle-codigo-wrap"
          (btnClickEmt)="detalleCodigo_Click()"
        ></app-magnum-button>
        <!-- Cliear descriptions formControl on click -->
        <app-magnum-button
          class="producto-avanzado"
          text="+"
          (btnClickEmt)="this.seleccionProductos_Click()"
        ></app-magnum-button>
      </div>
    </div>
    <div class="ventas-header-right">
      <app-magnum-select
        text="Condición"
        [itemSelected]="this.clienteCuenta.CodigoFactura"
        [options]="this.condicionSelect"
      ></app-magnum-select>
      <app-magnum-select
        text="Forma de venta"
        [itemSelected]="this.clienteCuenta.IdForma"
        [options]="this.formasVentaSelect"
      ></app-magnum-select>
      <app-magnum-select
        text="Lista"
        [itemSelected]="this.clienteCuenta.IdLista"
        [options]="this.listaSelect"
        (selectChange)="this.lista_Change($event)"
      ></app-magnum-select>
      <app-magnum-select
        text="Vendedor"
        [itemSelected]="0"
        [options]="this.vendedorSelect"
      ></app-magnum-select
      ><app-magnum-select
        class="transporte-select"
        text="Transporte"
        [options]="this.transporteSelect"
      ></app-magnum-select>
      <app-magnum-select
        text="Forma de entrega"
        [options]="this.formaEntregaSelect"
      ></app-magnum-select>
      <app-magnum-select
        class="lugar-select"
        text="Lugar"
        [options]="this.lugarSelect"
      ></app-magnum-select>

      <div class="seleccion-producto-wrap-mobile">
        <app-magnum-select
          *ngIf="this.buscarPorDetalle"
          class="descripcion-select-mobile"
          text="Descripcion"
          [options]="this.descripcionesSelect"
          [itemSelected]="this.descripcionSelected"
          (selectOpen)="this.getProductosVentas()"
          (filterChange)="this.getProductosVentas($event)"
          (selectChange)="this.productosChange($event)"
          [showSearchBar]="true"
        ></app-magnum-select>
        <app-magnum-input
          *ngIf="!this.buscarPorDetalle"
          [inputFormControl]="cantidadFormControl"
          class="cantidad-mobile"
          placeHolder="Cantidad"
        ></app-magnum-input>
        <app-magnum-input
          *ngIf="!this.buscarPorDetalle"
          [inputFormControl]="codigoFormControl"
          placeHolder="Codigo"
          class="detalle-codigo-mobile"
          (keyupEnter)="this.addProducto()"
        ></app-magnum-input>
        <app-magnum-button
          text=">"
          class="add-producto-mobile"
          (btnClickEmt)="this.addProducto()"
        ></app-magnum-button>
      </div>

      <div class="additional-options-wrap-mobile">
        <app-magnum-button
          text="Detalle/Codigo"
          class="detalle-codigo-wrap-mobile"
          (btnClickEmt)="detalleCodigo_Click()"
        ></app-magnum-button>
        <!-- Cliear descriptions formControl on click -->
        <app-magnum-button
          class="producto-avanzado-mobile"
          text="+"
          (btnClickEmt)="this.seleccionProductos_Click()"
        ></app-magnum-button>
      </div>
    </div>
  </div>

  <div class="wrap-table">
    <table
      mat-table
      [dataSource]="productosGrid"
      class="mat-elevation-z8"
      multiTemplateDataRows
    >
      <ng-container matColumnDef="cantidad">
        <th
          class="text-left custom-column small-colunm"
          mat-header-cell
          *matHeaderCellDef
        >
          Cantidad
        </th>
        <td
          class="text-left custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.Cantidad | currency: "es-AR":"" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="codigo">
        <th
          class="table-padding-left small-colunm"
          mat-header-cell
          *matHeaderCellDef
        >
          Codigo
        </th>
        <td
          class="table-padding-left custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.Codigo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="unitario">
        <th class="text-right small-colunm" mat-header-cell *matHeaderCellDef>
          Unitario
        </th>
        <td
          class="text-right custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.Unitario | fixed: 3 | currency: "es-AR":"" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bonif">
        <th class="text-right small-colunm" mat-header-cell *matHeaderCellDef>
          Bonif.
        </th>
        <td
          class="bonifiacion-column text-right custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
          (click)="this.bonificacion_Click(element)"
        >
          {{ element.Bonificacion | currency: "es-AR":"" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th
          class="table-padding-left text-left large-colunm paddin-left-column"
          mat-header-cell
          *matHeaderCellDef
        >
          Descripcion
        </th>
        <td
          class="table-padding-left text-left custom-column large-colunm paddin-left-column"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.Descripcion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="optionX">
        <th class="small-colunm" mat-header-cell *matHeaderCellDef>
          <mat-icon>close</mat-icon>
        </th>
        <td
          class="cancel-icon custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
        >
          <mat-icon (click)="this.deleteProductoGrid(element)">cancel</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="parcial">
        <th
          class="table-padding-left text-right small-colunm"
          mat-header-cell
          *matHeaderCellDef
        >
          Parcial
        </th>
        <td
          class="table-padding-left text-right custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.Parcial | fixed: 2 | currency: "es-AR":"" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th
          class="table-padding-left text-right small-colunm"
          mat-header-cell
          *matHeaderCellDef
        >
          Stock
        </th>
        <td
          class="table-padding-left text-right custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.Stock }}
        </td>
      </ng-container>

      <ng-container matColumnDef="iva">
        <th
          class="table-padding-left text-right small-colunm"
          mat-header-cell
          *matHeaderCellDef
        >
          Iva
        </th>
        <td
          class="table-padding-left text-right custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.Iva | currency: "es-AR":"" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="neto">
        <th
          class="table-padding-left text-right small-colunm"
          mat-header-cell
          *matHeaderCellDef
        >
          Neto
        </th>
        <td
          class="table-padding-left text-right custom-column small-colunm"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.Neto | fixed: 2 | currency: "es-AR":"" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasTabla; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnasTabla"
        class="options-detail-row"
      ></tr>
    </table>
  </div>

  <div class="ventas-footer">
    <div class="ventas-footer-left">
      <div class="ventas-footer-left-option-1">
        <app-magnum-button
          text="Bonif. General"
          (click)="bonificacionGeneral_Click()"
          class="bonificacion-button"
        ></app-magnum-button>
        <app-magnum-button
          class="imprimir-button"
          (btnClickEmt)="this.imprimir()"
          text="Imprimir"
        ></app-magnum-button>
      </div>
      <div class="ventas-footer-left-option-3">
        <mat-form-field class="observaciones" appearance="fill">
          <mat-label>Observaciones</mat-label>
          <textarea
            matInput
            placeholder="Factura para  cliente Magnum"
            rows="10"
            [formControl]="observacionesFormControl"
          ></textarea>
        </mat-form-field>
        <div class="logo-wrapper">
          <img src="assets/logo_4.png" alt="" />
          <h2>MAGNUM</h2>
        </div>
      </div>
    </div>
    <div class="ventas-footer-right">
      <div class="totales-wrap">
        <div class="total-items">Items: {{ productosGrid.length }}</div>
        <table>
          <tr>
            <th></th>
            <th class="text-center">%</th>
            <th class="text-right">$</th>
          </tr>
          <tr>
            <th>Bonificación x item</th>
            <td></td>
            <td class="text-right">
              {{ this.totalBonificacion | currency: "es-AR":"" }}
            </td>
          </tr>
          <tr>
            <th>Sub-total</th>
            <td></td>
            <td class="text-right">
              {{ this.subTotal | round: 2 | currency: "es-AR":"" }}
            </td>
          </tr>
          <tr>
            <th>I.V.A.</th>
            <td></td>
            <td class="total text-right">
              {{ this.totalIva | currency: "es-AR":"" }}
            </td>
          </tr>
        </table>
        <div class="total text-right">
          $ {{ this.totalParcial | currency: "es-AR":"" }}
        </div>
      </div>
    </div>
    <div class="buttons-wrap">
      <app-magnum-button
        class="imprimir-button-mobile"
        (btnClickEmt)="this.imprimir()"
        text="Imprimir"
      ></app-magnum-button>
    </div>
  </div>
</div>
<app-global-spinner></app-global-spinner>
<app-global-snackbar></app-global-snackbar>
