@import 'src/app/styles/colors';
@import 'src/app/styles/variables';
@import 'src/app/styles/font';
//---------------------------------
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
        height: 180px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
}

.boleta {
    padding-top: 3px;
    text-align: center;
    margin: auto 10px;
    border: 1px solid #333;
    min-height: 25px;
    min-width: 100px;
}

.orderUno {
    order: 1;
}

.orderDos {
    order: 2;
}

.orderTres {
    order: 3;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

.observaciones {
    width: 100%;
    margin-top: 25px;
    textarea {
        resize: none;
    }
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 190px;
        display: block;
        margin: auto;
    }
    h2 {
        font-family: monospace;
        font-size: 32px;
    }
}

.ventas-footer-right {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    .totales-wrap {
        padding: 24px;
        table {
            border-collapse: collapse;
            width: 100%;
            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        }
    }
    .total-items,
    .total {
        font-size: 26px;
    }
    .total {
        margin-top: 16px;
        text-align: end;
    }
}

.cancel-icon {
    cursor: pointer;
}