<div class="modal-container">
  <div class="form-container">
    <app-magnum-input
      [inputFormControl]="this.nombreClienteFormControl"
      placeHolder="Nombre Cliente"
    ></app-magnum-input>
    <app-magnum-input
      [inputFormControl]="this.direccionFormControl"
      placeHolder="Direccion"
    ></app-magnum-input>
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Localidad</mat-label>
      <mat-select
        panelClass="example-long-panel"
        [(ngModel)]="localidadSelected"
        name="localidad"
      >
        <mat-option *ngFor="let ciudad of this.ciudades" [value]="ciudad.Id">
          {{ ciudad.Ciudad }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-magnum-input
      [inputFormControl]="this.tlfFormControl"
      placeHolder="Teléfono"
    ></app-magnum-input>
    <app-magnum-input
      [inputFormControl]="this.correoFormControl"
      placeHolder="Correo Electronico"
    ></app-magnum-input>
    <app-magnum-input
      [inputFormControl]="this.solicitadoPorFormControl"
      placeHolder="Solicitado por"
    ></app-magnum-input>
    <app-magnum-input
      [inputFormControl]="this.plazoFormControl"
      placeHolder="Plazo de entrega"
    ></app-magnum-input>
    <app-magnum-input
      [inputFormControl]="this.condicionPagoFormControl"
      placeHolder="Condiciones de pago"
    ></app-magnum-input>
    <app-magnum-input
      [inputFormControl]="this.lugarEntregaFormControl"
      placeHolder="Lugar de entrega"
    ></app-magnum-input>
    <app-magnum-input
      [inputFormControl]="this.transportadoPorFormControl"
      placeHolder="Transportado por"
    ></app-magnum-input>

    <mat-form-field class="observaciones" appearance="fill">
      <mat-label
        >Notas o aclaraciones (Se imprimirán en el comprobante)</mat-label
      >
      <textarea
        matInput
        placeholder="Factura para el cliente Magnum"
        rows="10"
        [formControl]="aclaracionFormControl"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="observaciones" appearance="fill">
      <mat-label
        >Otras observaciones(No se imprimirán en el comprobante)</mat-label
      >
      <textarea
        matInput
        placeholder=""
        rows="10"
        [formControl]="observacionFormControl"
      ></textarea>
    </mat-form-field>

    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select
        panelClass="example-long-panel"
        [(ngModel)]="estadoSelected"
        name="estado"
      >
        <mat-option *ngFor="let estado of this.estados" [value]="estado.valor">
          {{ estado.descripcion }} |
          {{ estado.valor }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="mt-2 dialog-actions buttons-wrap">    
    <app-magnum-button
      text="Aceptar"
      (btnClickEmt)="this.aceptar_Click()"
    ></app-magnum-button>
  </div>
</div>
