@import 'src/app/styles/colors';
@import 'src/app/styles/variables';
@import 'src/app/styles/font';
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #F0F2F2;
}

.container {
    h2 {
        font-size: 2.2em;
    }
    .button-wrap {
        display: flex;
        button {
            height: 51px;
            width: 100%;
        }
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gr {
    width: 25px;
    align-self: center;
}

.width-100 {
    width: 100%;
}

.ml-1 {
    margin-left: 1em !important;
}

.ml-2 {
    margin-left: 2em !important;
}

.ml-3 {
    margin-left: 3em !important;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 3em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.mr-1 {
    margin-right: 1em;
}

.mr-2 {
    margin-right: 2em;
}

.mr-3 {
    margin-right: 3em;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #5486F0;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #5486F0;
}

.modal-container {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.ng2-pdf-viewer-container {
    height: 92% !important;
    width: 92% !important;
    overflow: initial !important;
}

.mat-form-field-suffix {
    display: inline-flex !important;
}

.clear-option:hover {
    cursor: pointer;
}

table {
    width: 100%;
    margin: auto;
    box-shadow: none;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    .options-wrap {
        padding: 10px;
    }
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.mat-raised-button:hover {
    background: #577BC1;
}

.custom-column {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.small-colunm {
    flex: 0 0 6% !important;
    width: 6% !important;
}

.large-colunm {
    flex: 0 0 12% !important;
    width: 12% !important;
}

.paddin-left-column {
    padding-left: 26px !important;
}

.table-wrap {
    overflow-x: auto;
}

.custom-search-select {
    max-height: 465px !important;
}

@media only screen and (max-width:1000px) {
    .modal-container {
        padding: 0px;
    }
}

@media only screen and (max-width:470px) {
    .custom-search-select {
        max-height: 250px !important;
    }
}

//----------------------
.card-magnum-content {
    .mat-card {
        padding: 6px;
    }
    .mat-card-title {
        padding-left: 15px;
        padding-top: 15px;
    }
    .mat-card-subtitle {
        padding-left: 15px;
    }
    &__wrapper {
        display: flex;
        padding: 3px;
        @media (max-width: $small) {
            flex-wrap: wrap;
            padding: 0 10px 0px 3px;
            margin-right: 10px;
        }
    }
    &__item-wrapper {
        box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;
        width: 100%;
        margin: 3px;
    }
    &__headings,
    &__colors,
    &__settings,
    &__size {
        margin-top: 8px;
        padding: 32px 3px;
        h1 {
            @media (max-width: $small) {
                line-height: 46px;
            }
        }
    }
    &__colors {
        &_blue {
            color: $blue;
        }
        &_green {
            color: $green;
        }
        &_pink {
            color: $pink;
        }
        &_yellow {
            color: $yellow;
        }
        &_light-blue {
            color: $light-blue;
        }
        &_violet {
            color: $violet;
        }
    }
}

.fw-light {
    font-weight: $fw-lighter;
}

.fw-medium {
    font-weight: $fw-normal;
}

.fw-bold {
    font-weight: $fw-bold;
}

.font-uppercase {
    text-transform: uppercase;
}

.font-lowercase {
    text-transform: lowercase;
}

.fst-italic {
    font-style: italic;
}

.fs-sm {
    font-size: $fs-xs;
}

.fs-regular {
    font-size: $fs-small;
}

.fs-md {
    font-size: $fs-medium;
}

.fs-xl {
    font-size: $fs-xl;
}

.fs-xxl {
    font-size: $fs-xxxl;
}

//----------------------
